@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');

:root {
    --cor0: #F2F2F2;
    --cor1: #E5F2B6;
    --cor3: #BCD952;
    --cor4: #748C1C;
    --cor5: #403027;
}

* {
    margin: 0px;
    padding: 0px;
}


header{
    background: linear-gradient(to bottom, #BCD952, #E5F2B6);
    padding-bottom: 50px;
}

#name{
    float: left;
    
}

#name > img {
    height: 30px;
    width: 40px;
    
}

#name > span {
    color: var(--cor5);
    font-family: sans-serif;
    font-weight: bold;
    
}

#naveg {
    float: right;
    padding: 10px;
    
}

#naveg > a {
    color: var(--cor5);
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px;
    transition-duration: .5s;
}

#naveg > a:hover {
    color: var(--cor0);
    font-weight: bold;
    
}

#title {
    text-align: center;
    min-height: 150px;
    padding-top: 40px;
    font-family:  'Shadows Into Light', cursive;;
}

#title > h1 {
    color: var(--cor5);
    font-size: 6em;
    font-weight: normal;
    margin-bottom: 20px;
}

#title > p {
    color: var(--cor5);
    font-size: 3em;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
}

main {
    background-color: var(--cor1);
}

main > section {
    display: flex;
}

#de {
    color: var(--cor5);
    font-family: sans-serif;
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 10px;
}

#linha {
    width: 2%; 
    height: 2px; 
    background-color: rgb(29, 138, 240); 
    margin-left: 20px;
    margin-bottom: 5px;
    transform-origin: 0 50%;
    transform: rotate(90deg);
}

#top {
    color: #403027;
    font-family: sans-serif;
    list-style: none;
    display: flex;
    padding: 5px;
}

.topic {
    margin-left: 10px;
    margin-right: 10px;
}


.topic > a {
    color: var(--cor5);
    text-decoration: none;
    transition-duration: .5s;
}

.topic > a:hover {
    background-color: rgba(255, 255, 255, 0.562);
    padding: 15px;
    border-radius: 30px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.151);
}

#pag {
    padding: 10px 10px 20px 10px;
    margin: 20px 20px 0px 20px;
}

.page {
    display: flex;
    list-style: none;
    
    
}

.conteudo {
    background-color: white;
    width: 150px;
    height: 170px;
    margin: 5px;
    padding: 3px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.26);
    border-radius: 30px;
    transition-duration: .5s;
    text-align: center;
}

.conteudo:hover {
    background-color: white;
    padding: 15px;
    border-radius: 30px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.151);

}

.conteudo > h3 {
    font-family:  'Shadows Into Light', cursive;
    color: var(--cor5);
    margin: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.date{
    color: var(--cor5);
    font-family: sans-serif;
    margin: 5px;
    padding-left: 21px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
}

.date > p {
    margin-left: 5px;
    margin-right: 5px;
}

#img {
    height: 50px;
    width: 60px;
    padding-top: 5px;
}

.page > li > a {
    text-decoration: none;
    font-weight: bold;
}
 
footer{
    background-color:var(--cor5);
    padding-bottom: 20px;
}

footer > h2 {
    font-family: 'Lora', serif;
    color: white;
    margin: 0px 10px 10px 10px;
    padding-top: 5px;
}

footer > ul {
    display: flex;
    margin: 5px;
}

footer > p {
    font-family: 'Lora', serif;
    font-size: 1.5em;
    float: right;
    color: white;
    padding: 10px 10px 0px 0px;
    margin: 10px;
}

footer > p > a {
    text-decoration: none;
    color: white;
}

.foot {
    height: 30px;
    width: 40px;
    padding-left: 5px;
    padding-right: 5px;
}

