@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');

:root {
    --cor0: #F2F2F2;
    --cor1: #E5F2B6;
    --cor3: #BCD952;
    --cor4: #748C1C;
    --cor5: #403027;
    --cor6: #fda3b2;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor1);
}

nav {
    margin: 5px;
    font-family: 'Lora', serif;
}

nav > span {
    color: var(--cor5);
    font-weight: bold;
    margin: 5px;
    font-size: 1.5em;
}

nav > section {
    float: right;
} 

.nav {
    color: var(--cor5);
    text-decoration: none;
    margin: 5px;
    font-size: 1em;
}

.nav:hover {
    color: var(--cor6);
    font-weight: bold;
}

header {
    margin-bottom: 20px;
}


#top {
    font-family: 'Lora', serif;
    width: 50%;
    margin: auto;
    padding: 5px;
    font-size: 2.5em;
}

#seta {
    font-size: 20px;
    margin: 2px;
    color: rgb(221, 115, 133);
    display: none;

}

#note {
    text-decoration: none;
    font-size: 0.5em;
    color: rgb(221, 115, 133);
}


#broto {
    width: 20px;
}

#tipo {
    color: var(--cor5);
    font-size: 0.5em;
}

.tooltip {
    position: absolute;
    background-color: #333;
    color: #fff;
    font-size: 0.4em;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    display: none;
    bottom: 91%;
    left: 35%;
    transform: translateX(-50%)
}

#top > h1 {
    font-size: 2em;
}

#top > p {
    color: var(--cor5);
}

#linha {
    border: 1px solid rgba(128, 128, 128, 0.404);
    width: 60%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

#data {
    font-family: 'Lora', serif;
    font-size: 1em;
    position: absolute;
    right: 20%;
}

main {
    background-color: #ebf1d5;
    min-width: 280px;
    max-width: 800px;
    margin: auto;
    
}

main > article {
    margin-top: 30px;   
}

.subtitle {
    font-family: 'Lora', serif;
    font-size: 2.5em;
    margin: 5px;
    text-indent: 8px;
}

main p {
    font-family: 'Lora', sans-serif;
    margin: 10px;
    text-align: justify;
    text-indent: 20px;
    line-height: 2em;
    font-size: 1.5em;
}

main h3 {
    font-family: 'Lora', sans-serif;
    margin: 10px;
    text-indent: 20px;
    font-size: 2em;
}

main a {
    color: var(--cor4);
    text-decoration: none;
}

main a:hover {
    color: rgb(253, 163, 178);
}
